<%- include header %>

	<section class="content-wrap">
        <div class="container">
        	            	
            <div class="row">
				<%- include postlist %>
				
		        <aside class="col-md-4 sidebar">					
					<!-- 公告  -->
					<div class="widget">
						<h4 class="title">公告板</h4>
						<div class="content community">
							<p></p>
							<p><a href="javascript:;" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '个人博客'])"><i class="fa fa-comments"></i> 个人博客</a></p>
						</div>
					</div>

					<!-- 标签  -->
					<div class="widget">
						<h4 class="title">标签云</h4>
						<div class="content tag-cloud">
							<% tags.forEach(function(tag){ %>
								<a href="/tag/<%= tag._id %>"><%= tag.name %></a>
							<% }) %>
						</div>
					</div>
					<footer>
						
					</footer>
		        </aside>
            </div>
        </div>
    </section>
   </body>
</html>
